
[defaults]

lookup_plugins  = ./lookup_plugins
filter_plugins  = ./filter_plugins
callback_plugins = ./callback_plugins
library         = ./common/library:./redfish-gather/library
module_utils    = ./module_utils

stdout_callback = json_only
callbacks_enabled = json_only

forks = 200
timeout = 60
gather_timeout = 60

host_key_checking = False

interpreter_python = auto

jinja2_native = True

gathering = explicit


retry_files_enabled = False
deprecation_warnings = False

display_ok_hosts = False
display_skipped_hosts = False

[inventory]
enable_plugins = script, auto

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o HostKeyAlgorithms=+ssh-rsa -o PubkeyAcceptedAlgorithms=+ssh-rsa -o KexAlgorithms=+diffie-hellman-group14-sha1

[privilege_escalation]
become = False

[winrm]
transport = ntlm
